* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color: #171717;
  --second-main-color: #e3c854;
}

body {
  background-color: var(--main-color);
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: var(--second-main-color);
  padding: 100px 50px;
}

.button {
  margin-top: 50px;
  background-color: var(--second-main-color);
  border: none;
  font-size: 14px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  padding: 10px 19px;
  font-weight: 600;
  display: block;
}

.info {
  max-width: 700px;
}

.info__title {
  font-size: 48px;
}

.info__paragraph {
  font-size: 21px;
}

.filters {
  padding: 0;
  display: flex;
  list-style: none;
}

.filters__item {
  border: 1px solid var(--second-main-color);
}

.filters__item:not(:last-child) {
  border-right: none;
}

.filters__button {
  font-size: 12px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  background: transparent;
  padding: 10px 30px;
  border: 1px solid var(--second-main-color);
  color: var(--second-main-color);
}

.filters__button--active {
  background: var(--second-main-color);
  color: var(--main-color);
  transition: 0.4s;
}

.filters__button--inactive {
  background: var(--main-color);
  color: var(--second-main-color);
}

.container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 100px 50px;
}

.item {
  border: 2px solid var(--second-main-color);
  display: grid;
  min-height: 400px;
  grid-template-rows: 100px 1fr;
}

.item__content {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.item__header {
  background: var(--second-main-color);
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px 30px;
}

.item__title {
  margin: 0;
  color: var(--main-color);
  font-size: 21px;
  text-align: center;
}

.item__paragraph,
.item__button {
  font-size: 14px;
}
